apiVersion: v1
kind: ServiceAccount
metadata:
  name: secret-service
  labels:
    app: secret-service
  annotations:
    {{- if .Values.serviceAccount.annotations }}
    {{- toYaml .Values.serviceAccount.annotations | nindent 4 }}
    {{- end }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: audit-service
  labels:
    app: audit-service
  annotations:
    {{- if .Values.serviceAccount.annotations }}
    {{- toYaml .Values.serviceAccount.annotations | nindent 4 }}
    {{- end }}

