image:
  repositorySecretService: "<YOUR_DOCKER_USERNAME>/secret-service"
  repositoryAuditService: "<YOUR_DOCKER_USERNAME>/audit-service"
  tag: "latest"
  pullPolicy: IfNotPresent

secretService:
  replicaCount: 2
  port: 8080
  resources:
    requests:
      memory: "512Mi"
      cpu: "500m"
    limits:
      memory: "1Gi"
      cpu: "1000m"

auditService:
  replicaCount: 2
  port: 8081
  resources:
    requests:
      memory: "256Mi"
      cpu: "250m"
    limits:
      memory: "512Mi"
      cpu: "500m"

postgres:
  secretsDb:
    user: secret_user
    password: secret_pw
    db: secrets
    storage: 10Gi
  auditDb:
    user: audit_user
    password: audit_pw
    db: audit
    storage: 10Gi

jwtSecret: "mySuperStrongSecretKeyForJWTTokenGeneration123456"
aesKey: "MySecure32ByteKeyForAES256Encryption!"

ingress:
  enabled: true
  className: "nginx"
  host: "secrets.local"
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /$1

