apiVersion: v1
kind: PersistentVolume
metadata:
  name: loki-storage-pv
spec:
  storageClassName: hostpath
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  hostPath:
    path: "/tmp/loki-storage"
    type: DirectoryOrCreate
